<<<<<<< HEAD
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;color:#00e}a:visited{color:#551a8b}a:focus{outline:thin dotted}a:hover,a:active{outline:0}html{font-size:62.5%;font-family:'Hiragino Kaku Gothic Pro', Meiryo, 'MS PGothic', sans-serif;font-family:Meiryo, 'Hiragino Kaku Gothic Pro', 'MS PGothic', sans-serif}body{background-color:#fff;color:#333;font-size:1.4rem;font-family:Helvetica, sans-serif;line-height:1.4}a{text-decoration:none}body{background-color:#fae6ee;text-align:center}.cmnHeader{margin:0 auto;width:1200px;height:90px;background-color:#fff;border-bottom:1px solid #eee}.cmnHeader:after{content:" ";display:block;clear:both}.cmnHeader .logo{float:left;padding:20px 0 20px 100px}.cmnHeader .headlinkBox{float:right;padding-right:100px;line-height:90px;color:#7f7f7f;font-size:14px;display:-webkit-flex;display:flex}.cmnHeader .headlinkBox li{padding-left:70px}.cmnHeader .headlinkBox a{color:#7f7f7f;text-decoration:none}.cmnFooter{margin:0 auto;width:1200px;color:#fff;position:relative;background-color:#000}.cmnFooter::before{content:" ";display:block;width:1200px;height:13px;background:url(../img/common/bg_footer.png) no-repeat 0 0;position:absolute;top:-13px;left:0}.cmnFooter .topWrap{padding:24px 100px;border-bottom:1px solid #fff}.cmnFooter .topWrap:after{content:" ";display:block;clear:both}.cmnFooter .topLeft{float:left;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;font-size:24px;font-weight:bold;text-align:left;width:624px}.cmnFooter .topLeft img{display:block;margin-right:20px}.cmnFooter .appBtnBox{margin:0;padding:20px 0 0;width:376px;display:inline-block}.cmnFooter .appBtnBox p{margin:10px 0;color:#FFF;text-align:center;font-size:14px}.cmnFooter .appBtnBox ul{float:right;display:-webkit-flex;display:flex}.cmnFooter .appBtnBox ul li{margin-left:14px}.cmnFooter .appBtnBox ul li:first-child{margin:0}.cmnFooter .snsLink{margin-top:33px;display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center}.cmnFooter .snsLink li{margin:0 17px}.cmnFooter .txtLink{font-size:14px;margin-top:28px}.cmnFooter .txtLink a{color:#fff;text-decoration:none}
.cmnFooter .copy{
  font-size:14px;
  margin-top:15px;
  padding-bottom:20px;
  color:#fff
}
.pgTop{
  width:1200px;
  margin:0 auto
}
.pgTop .btmImg{
  display:block;
  margin-top:60px
}
.pgTop .topMain{
  width:1200px;
  height:673px;
  background:url(../img/top/bg_top.png) no-repeat 0 0;
  position:relative
}
.pgTop .topMain h1{
  text-indent:-9999px
}
.pgTop .topMain .btnBox{
  margin:0;
  padding:0 0 0 8%;
  width:92%;
  height:85px;
  display:block;
  text-align:left;
  position:absolute;
  bottom:0
}
.pgTop .topMain .btnBox .appBtnBox{
  margin:0;
  padding:0;
  display:inline-block
}
.pgTop .topMain .btnBox .appBtnBox p{
  margin:0;
  color:#404040;
  width:376px;
  text-align:center;
  font-size:14px
}
.pgTop .topMain .btnBox .appBtnBox ul{
  height:65px;
  position:absolute;
  bottom:0;
  display:-webkit-flex;
  display:flex
}
.pgTop .topMain .btnBox .appBtnBox ul li{
  padding:0
}
.pgTop .topMain .btnBox .appBtnBox ul li:first-child{
  padding-right:14px
}
.pgTop .topMain .btnBox a:hover{
  display:block;
  opacity:0.8
}
.pgTop .topInfo{
  background-color:#fff;
  padding:15px 0 10px 100px;
  text-align:left;
  font-size:16px;
  line-height:2
}
.pgTop .topInfo dt{
  width:95px;
  float:left;
  clear:left;
  color:#ff6299
}
.pgTop .topInfo dd a{
  color:#333
}
.pgTop .topInfo dd a:hover{
  text-decoration:underline
}
.pgTop .topAbout{
  width:1200px;
  height:506px;
  background:url(../img/top/bg_about.png) no-repeat 0 0
}
.pgTop .topAbout h2{
  text-indent:-9999px;
  height:0
}
.pgTop .topAbout p{
  padding-top:280px;
  font-size:16px;
  line-height:2
}
.pgTop .topAbout p b{
  font-weight:bold
}
.pgTop .topContents{
  background:url('data:image/svg+xml;
base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyY2VmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc1ZGRmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #62cefd),color-stop(100%, #75ddfe));
background:-moz-linear-gradient(#62cefd,#75ddfe);
background:-webkit-linear-gradient(#62cefd,#75ddfe);
background:linear-gradient(#62cefd,#75ddfe)
}
.pgTop .topContents h2{
  padding:50px 0 0 317px
}
.pgTop .topContents h2 img{
  display:block
}
.pgTop .topContents p{
  padding-top:30px;
  font-size:16px;
  line-height:1.8
}
.pgTop .topContents ul{
  padding:35px 0 0 114px;
  display:-webkit-flex;
  display:flex
}
.pgTop .topContents li img{
  display:block;
  margin-bottom:15px
}
.pgTop .topContents li a{
  display:block;
  color:#fff;
  text-decoration:none;
  font-size:18px
}
.pgTop .topContents li span{
  display:block;
  font-size:14px;
  line-height:1.8
}
.pgTop .topContents li:last-child{
  padding:30px 0 0 15px
}
.pgTop .topCheck{
  background:url('data:image/svg+xml;
base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTA0ZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmY3MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe04e),color-stop(100%, #ffff70));
background:-moz-linear-gradient(#ffe04e,#ffff70);
background:-webkit-linear-gradient(#ffe04e,#ffff70);
background:linear-gradient(#ffe04e,#ffff70)
}
.pgTop .topCheck h2{
  padding:67px 0 0 390px
}
.pgTop .topCheck h2 img{
  display:block
}
.pgTop .topCheck p{
  padding-top:25px;
  font-size:16px
}
.pgTop .topCheck ul{
  margin:0 auto;
  padding:50px 0;
  width:1000px;
  display:inline-block
}
.pgTop .topCheck ul li{
  margin:0;
  padding:0 40px 40px 0;
  display:block;
  float:left
}
.pgTop .topCheck ul li:nth-child(even){
  padding:0 0 40px
}
.pgTop .topPress{
  background:url('data:image/svg+xml;
base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlZTdiZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM2ZjhlYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2ee7be),color-stop(100%, #36f8ec));
background:-moz-linear-gradient(#2ee7be,#36f8ec);
background:-webkit-linear-gradient(#2ee7be,#36f8ec);
background:linear-gradient(#2ee7be,#36f8ec)
}
.pgTop .topPress h2{
  padding:30px 0 0 310px
}
.pgTop .topPress h2 img{
  display:block
}
.pgTop .topPress p{
  padding-top:25px;
  font-size:16px
}
.pgTop .topPress ul{
  display:-webkit-flex;
  display:flex;
  -webkit-align-items:center;
  align-items:center
}
.pgTop .topPress ul.listTop{
  padding:36px 0 0 176px
}
.pgTop .topPress ul.listBottom{
  padding:30px 0 0 336px
}
.pgTop .topPress li{
  padding-right:70px
}
.pgTop .topPress li:last-child{
  padding-right:0
}
.pgTop .topPress li img{
  vertical-align:middle
}
.pgTop .topMovie{
  background:url('data:image/svg+xml;
base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkxOTdmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2EwYWFmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9197fd),color-stop(100%, #a0aaff));
background:-moz-linear-gradient(#9197fd,#a0a aff);
background:-webkit-linear-gradient(#9197fd,#a0aaff);
background:linear-gradient(#9197fd,#a0aaff);
padding-bottom:73px
}
  .pgTop .topMovie h2{
    padding:50px 0 0 368px
  }
  .pgTop .topMovie h2 img{
    display:block
  }
    .pgTop .topMovie p{
      padding-top:30px;
      font-size:16px
      }.pgTop .topMovie .boxMovie{
        margin-top:50px
  }
  #page-top{
    position:fixed;bottom:40px;
    right:0px;z-index:1000
  }
  #page-top a{
    padding:0;
    background:url(../img/common/btn_top-out.png) no-repeat 0 0;
    width:51px;height:52px;
    text-indent:-9999px;
    display:block
  }
  #page-top a:hover{
    background:url(../img/common/btn_top-over.png) no-repeat 0 0
  }
  #party_container{
    width:1200px;
    margin:0 auto;background:#FFF
  }
  #party_container .header img.forPC{
    margin:0;
    padding:0;
    width:100%;
    display:block
  }
  #party_container .header img.forSP{
    margin:0;
    padding:0;
    height:0;
    display:none
  }
  #party_container .eventInfo_wrap{
    text-align:center;
    padding:60px 0
  }
  #party_container .eventInfo.forPC{
    display:block;width:1010px;
    height:1727px;
    background:url(/static/pc/img/party/2017/halloween/bg.png) no-repeat 0 0;
    margin:0 auto;padding:797px 104px 0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    position:relative
  }
  #party_container .eventInfo.forPC b,#party_container .eventInfo.forPC strong{
    font-weight:bold
  }
  #party_container .eventInfo.forPC .description,#party_container .eventInfo.forPC .schedule{
    color:#c42db2;line-height:1.6;text-align:center
  }
  #party_container .eventInfo.forPC .description{
    font-size:1.7rem
  }
  #party_container .eventInfo.forPC .schedule{
    font-size:1.5rem;padding-top:35px;text-align:left
  }
  #party_container .eventInfo.forPC .schedule .notice{
    color:#f00
  }
  #party_container .eventInfo.forPC .btn{
    text-align:center
  }
  #party_container .eventInfo.forPC .btn li{
    padding-top:40px
  }
=======
tml,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;color:#00e}a:visited{color:#551a8b}a:focus{outline:thin dotted}a:hover,a:active{outline:0}html{font-size:62.5%;font-family:'Hiragino Kaku Gothic Pro', Meiryo, 'MS PGothic', sans-serif;font-family:Meiryo, 'Hiragino Kaku Gothic Pro', 'MS PGothic', sans-serif}body{background-color:#fff;color:#333;font-size:1.4rem;font-family:Helvetica, sans-serif;line-height:1.4}a{text-decoration:none}body{background-color:#fae6ee;text-align:center}.cmnHeader{margin:0 auto;width:1200px;height:90px;background-color:#fff;border-bottom:1px solid #eee}.cmnHeader:after{content:" ";display:block;clear:both}.cmnHeader .logo{float:left;padding:20px 0 20px 100px}.cmnHeader .headlinkBox{float:right;padding-right:100px;line-height:90px;color:#7f7f7f;font-size:14px;display:-webkit-flex;display:flex}.cmnHeader .headlinkBox li{padding-left:70px}.cmnHeader .headlinkBox a{color:#7f7f7f;text-decoration:none}.cmnFooter{margin:0 auto;width:1200px;color:#fff;position:relative;background-color:#000}.cmnFooter::before{content:" ";display:block;width:1200px;height:13px;background:url(../img/common/bg_footer.png) no-repeat 0 0;position:absolute;top:-13px;left:0}.cmnFooter .topWrap{padding:24px 100px;border-bottom:1px solid #fff}.cmnFooter .topWrap:after{content:" ";display:block;clear:both}.cmnFooter .topLeft{float:left;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;font-size:24px;font-weight:bold;text-align:left;width:624px}.cmnFooter .topLeft img{display:block;margin-right:20px}.cmnFooter .appBtnBox{margin:0;padding:20px 0 0;width:376px;display:inline-block}.cmnFooter .appBtnBox p{margin:10px 0;color:#FFF;text-align:center;font-size:14px}.cmnFooter .appBtnBox ul{float:right;display:-webkit-flex;display:flex}.cmnFooter .appBtnBox ul li{margin-left:14px}.cmnFooter .appBtnBox ul li:first-child{margin:0}.cmnFooter .snsLink{margin-top:33px;display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center}.cmnFooter .snsLink li{margin:0 17px}.cmnFooter .txtLink{font-size:14px;margin-top:28px}.cmnFooter .txtLink a{color:#fff;text-decoration:none}.cmnFooter .copy{font-size:14px;margin-top:15px;padding-bottom:20px;color:#fff}.pgTop{width:1200px;margin:0 auto}.pgTop .btmImg{display:block;margin-top:60px}.pgTop .topMain{width:1200px;height:673px;background:url(../img/top/bg_top.png) no-repeat 0 0;position:relative}.pgTop .topMain h1{text-indent:-9999px}.pgTop .topMain .btnBox{margin:0;padding:0 0 0 8%;width:92%;height:85px;display:block;text-align:left;position:absolute;bottom:0}.pgTop .topMain .btnBox .appBtnBox{margin:0;padding:0;display:inline-block}.pgTop .topMain .btnBox .appBtnBox p{margin:0;color:#404040;width:376px;text-align:center;font-size:14px}.pgTop .topMain .btnBox .appBtnBox ul{height:65px;position:absolute;bottom:0;display:-webkit-flex;display:flex}.pgTop .topMain .btnBox .appBtnBox ul li{padding:0}.pgTop .topMain .btnBox .appBtnBox ul li:first-child{padding-right:14px}.pgTop .topMain .btnBox a:hover{display:block;opacity:0.8}.pgTop .topInfo{background-color:#fff;padding:15px 0 10px 100px;text-align:left;font-size:16px;line-height:2}.pgTop .topInfo dt{width:95px;float:left;clear:left;color:#ff6299}.pgTop .topInfo dd a{color:#333}.pgTop .topInfo dd a:hover{text-decoration:underline}.pgTop .topAbout{width:1200px;height:506px;background:url(../img/top/bg_about.png) no-repeat 0 0}.pgTop .topAbout h2{text-indent:-9999px;height:0}.pgTop .topAbout p{padding-top:280px;font-size:16px;line-height:2}.pgTop .topAbout p b{font-weight:bold}.pgTop .topContents{background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyY2VmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc1ZGRmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #62cefd),color-stop(100%, #75ddfe));background:-moz-linear-gradient(#62cefd,#75ddfe);background:-webkit-linear-gradient(#62cefd,#75ddfe);background:linear-gradient(#62cefd,#75ddfe)}.pgTop .topContents h2{padding:50px 0 0 317px}.pgTop .topContents h2 img{display:block}.pgTop .topContents p{padding-top:30px;font-size:16px;line-height:1.8}.pgTop .topContents ul{padding:35px 0 0 114px;display:-webkit-flex;display:flex}.pgTop .topContents li img{display:block;margin-bottom:15px}.pgTop .topContents li a{display:block;color:#fff;text-decoration:none;font-size:18px}.pgTop .topContents li span{display:block;font-size:14px;line-height:1.8}.pgTop .topContents li:last-child{padding:30px 0 0 15px}.pgTop .topCheck{background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTA0ZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmY3MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe04e),color-stop(100%, #ffff70));background:-moz-linear-gradient(#ffe04e,#ffff70);background:-webkit-linear-gradient(#ffe04e,#ffff70);background:linear-gradient(#ffe04e,#ffff70)}.pgTop .topCheck h2{padding:67px 0 0 390px}.pgTop .topCheck h2 img{display:block}.pgTop .topCheck p{padding-top:25px;font-size:16px}.pgTop .topCheck ul{margin:0 auto;padding:50px 0;width:1000px;display:inline-block}.pgTop .topCheck ul li{margin:0;padding:0 40px 40px 0;display:block;float:left}.pgTop .topCheck ul li:nth-child(even){padding:0 0 40px}.pgTop .topPress{background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlZTdiZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM2ZjhlYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2ee7be),color-stop(100%, #36f8ec));background:-moz-linear-gradient(#2ee7be,#36f8ec);background:-webkit-linear-gradient(#2ee7be,#36f8ec);background:linear-gradient(#2ee7be,#36f8ec)}.pgTop .topPress h2{padding:30px 0 0 310px}.pgTop .topPress h2 img{display:block}.pgTop .topPress p{padding-top:25px;font-size:16px}.pgTop .topPress ul{display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center}.pgTop .topPress ul.listTop{padding:36px 0 0 176px}.pgTop .topPress ul.listBottom{padding:30px 0 0 336px}.pgTop .topPress li{padding-right:70px}.pgTop .topPress li:last-child{padding-right:0}.pgTop .topPress li img{vertical-align:middle}.pgTop .topMovie{background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkxOTdmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2EwYWFmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9197fd),color-stop(100%, #a0aaff));background:-moz-linear-gradient(#9197fd,#a0aaff);background:-webkit-linear-gradient(#9197fd,#a0aaff);background:linear-gradient(#9197fd,#a0aaff);padding-bottom:73px}.pgTop .topMovie h2{padding:50px 0 0 368px}.pgTop .topMovie h2 img{display:block}.pgTop .topMovie p{padding-top:30px;font-size:16px}.pgTop .topMovie .boxMovie{margin-top:50px}#page-top{position:fixed;bottom:40px;right:0px;z-index:1000}
#page-top a{
  padding:0;background:url(../img/common/btn_top-out.png) no-repeat 0 0;
  width:51px;height:52px;
  text-indent:-9999px;
  display:block
}
#page-top a:hover{
  background:url(../img/common/btn_top-over.png) no-repeat 0 0
}
#party_container{
  width:1200px;
  margin:0 auto;
  background:#FFF
}
#party_container .header img.forPC{
  margin:0;
  padding:0;
  width:100%;
  display:block
}
#party_container .header img.forSP{
  margin:0;
  padding:0;
  height:0;
  display:none
}
#party_container .eventInfo_wrap{
  text-align:center;
  padding:60px 0
}
#party_container .eventInfo.forPC{
  display:block;
  width:1010px;
  height:1727px;
  background:url(/static/pc/img/party/2017/halloween/bg.png) no-repeat 0 0;
  margin:0 auto;
  padding:797px 104px 0;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  position:relative
}
#party_container .eventInfo.forPC b,
#party_container .eventInfo.forPC strong{
  font-weight:bold
}
#party_container .eventInfo.forPC .description,
#party_container .eventInfo.forPC .schedule{
  color:#c42db2;
  line-height:1.6;text-align:center
}
#party_container .eventInfo.forPC .description{
  font-size:1.7rem
}
#party_container .eventInfo.forPC .schedule{
  font-size:1.5rem;padding-top:35px;
  text-align:left
}
#party_container .eventInfo.forPC .schedule .notice{
  color:#f00
}
#party_container .eventInfo.forPC .btn{
  text-align:center
}
#party_container .eventInfo.forPC .btn li{
  padding-top:40px
}
>>>>>>> 5c9615b67541b12b844fe8f82c847934335cd88d
#party_container .eventInfo.forPC .entry{
  position:absolute;
  bottom:100px;
  left:0;
  width:100%
}
#party_container .eventInfo.forPC .entry .noEntry{
  padding-bottom:50px
}
#party_container .eventInfo.forPC .entry .noEntry .noEntry_link{
  color:#f49800;
  font-size:15px
}
#party_container .eventInfo.forPC .entry .noEntry .noEntry_link::after{
  content:">>";
font-size:18px;
vertical-align:1px;
margin-left:3px
}
#party_container .eventInfo.forPC .entry .share{
  display:-webkit-box;
  -webkit-box-pack:center;
  display:-webkit-flex;
  display:flex;
  -webkit-justify-content:center;
  justify-content:center
}
#party_container .eventInfo.forPC .entry .share li{
  padding:0 7px
}
#party_container .eventInfo.forPC .entry .share li a{
  display:block
}
#party_container .eventInfo.forPC .entry .share li a img{
  width:78px;
  display:block
}
#party_container .eventInfo.forSP{
  display:none
}
#party_container .comingSoon{
  position:relative;
  width:1000px;
  height:806px;
  color:#368fa5;
  background:url(/static/pc/img/party/bg_comingsoon.png) no-repeat 0 0;
  -moz-background-size:100% auto;
  -o-background-size:100% auto;
  -webkit-background-size:100% auto;
  background-size:100% auto;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  padding:497px 0 0;
  margin:0 auto
}
#party_container .comingSoon .desc{
  font-size:17px;
  line-height:1.7em;
  text-align:center
}
#party_container .comingSoon .addLine{
  margin:50px auto;
  text-align:center
}
#party_container .comingSoon .addLine>span{
  display:inline-block;
  font-size:18px;
  margin-bottom:20px
}
#party_container .comingSoon.forSP{
  display:none
}
#party_container #about_poiparty{
  margin:0 auto;
  padding:0 0 70px;
  width:1000px;
  display:block
}
#party_container #about_poiparty .partyPhoto{
  margin:0;
  padding:0;
  width:100%;
  display:block
}
#party_container #about_poiparty .partyPhoto img.forPC{
  margin:0;
  padding:0;
  width:100%;
  display:block
}
#party_container #about_poiparty .partyPhoto img.forSP{
  margin:0;
  padding:0;
  height:0;
  display:none
}
#party_container #about_poiparty .label_about,#party_container #about_poiparty .label_report{
  padding:50px 0 20px
}
#party_container #about_poiparty .label_about img.forPC,#party_container #about_poiparty .label_report img.forPC{
  margin:0;
  padding:0;
  width:100%;
  display:block
}
#party_container #about_poiparty .label_about img.forSP,#party_container #about_poiparty .label_report img.forSP{
  margin:0;
  padding:0;
  height:0;
  display:none
}
#party_container #about_poiparty .aboutCont{
  display:table
}
#party_container #about_poiparty .aboutCont>dl{
  background-color:rgba(255,101,154,0.2);
  padding:12px;
  text-align:center;
  margin:15px;
  width:30%;
  display:table-cell;
  border:solid #FFF;
  border-width:0 10px
}
#party_container #about_poiparty .aboutCont>dl dt{
  color:#ff659a;
  font-size:20px;
  font-weight:bold;
  margin-bottom:10px
}
#party_container #about_poiparty .aboutCont>dl dd{
  font-size:15px;
  line-height:1.7em;
  text-align:left
}
#party_container #about_poiparty .reportMovie .movieCont{
  display:inline-block;
  padding:0 10px 40px
}
#party_container #about_poiparty .reportMovie .movieCont .movieWrap .movie .topMovieFrame{
  width:474px !important;
  height:267px !important
}
#party_container #about_poiparty .reportMovie .movieCont .update{
  padding-top:5px;
  text-align:center
}
#party_container #about_poiparty .reportMovie .twitter{
  text-align:center
}
#party_container #about_poiparty .reportMovie .twitter>p{
  font-size:17px;
  margin-bottom:10px
}
#party_container #about_poiparty .reportMovie .twitter a.twBtn{
  margin:0 auto;
  padding:0;
  display:inline-block;
  width:100px
}
#party_container #about_poiparty .reportMovie .twitter a.twBtn img{
  width:100px;
  display:block
}
#party_container br.nobr{
  margin:0;
  padding:0;
  width:0;
  height:0;
  display:none
}
article{
  width:1200px;
  margin:0 auto;
  background-color:#fff;
  padding:30px 0 73px
}
article .breadcrumb{
  margin:0;
  padding:25px 0 25px 100px;
  text-align:left;
  font-size:16px
}
article .breadcrumb a{
  color:#333
}
.pgColumn{
  width:1200px;
  margin:0 auto;
  background-color:#fff;
  padding-bottom:73px
}
.pgColumn .breadcrumb{
  margin:0;
  padding:25px 0 0 100px;
  text-align:left;
  font-size:16px
}
.pgColumn .breadcrumb a{
  color:#333
}
.pgColumn h1{
  width:1200px;
  height:370px;
  text-indent:-9999px;
  background:url(../img/column/ttl_column.png) no-repeat 0 0
}
.pgColumn .clmDesc{
  text-align:center
}
.pgColumn .clmDesc .ttlDesc{
  margin:38px auto 30px
}
.pgColumn .clmDesc .txtDesc{
  font-size:17px;
  line-height:1.6;
  margin-top:30px
}
.pgColumn .clmDesc .txtUpdate{
  display:inline-block;
  margin:25px auto 0;
  padding:0 20px;
  height:30px;
  line-height:30px;
  background-color:#f7d2e0;
  font-size:17px;
  letter-spacing:-0.05em;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px
}
.pgColumn .clmList{
  padding-top:50px
}
.pgColumn .clmList h2 img{
  display:block;
  margin:0 auto
}
.pgColumn .clmList h2.columnNav{
  font-size:20px;
  text-align:center;
  color:#ff659a
}
.pgColumn .clmList .footLinkList{
  margin:6px 100px 0;
  padding:20px 0;
  border-top:1px solid #ec6e99;
  border-bottom:1px solid #ec6e99;
  display:-webkit-flex;
  display:flex;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap
}
.pgColumn .clmList .footLinkList li{
  border-bottom:1px solid #ec6e99
}
.pgColumn .clmList .footLinkList li:last-child,.pgColumn .clmList .footLinkList li:nth-last-child(2){
  border-bottom:none
}
.pgColumn .clmList .footLinkList li:nth-child(odd){
  width:449px;
  padding:0 0 0 50px;
  background:url(../img/column/ico_arrowL.png) no-repeat 0 50%;
  border-right:1px solid #ec6e99
}
.pgColumn .clmList .footLinkList li:nth-child(odd).none{
  background:none
}
.pgColumn .clmList .footLinkList li:nth-child(even){
  width:450px;
  padding:0 50px 0 0;
  background:url(../img/column/ico_arrowR.png) no-repeat 100% 50%
}
.pgColumn .clmList .footLinkList li:nth-child(even).none{
  background:none
}
.pgColumn .clmList .footLinkList li a{
  display:-webkit-flex;
  display:flex;
  -webkit-align-items:center;
  align-items:center;
  color:#333;
  text-decoration:none
}
.pgColumn .clmList .footLinkList li.coming{
  display:-webkit-flex;
  display:flex;
  -webkit-align-items:center;
  align-items:center
}
.pgColumn .clmList .footLinkList li .imgThumb{
  width:142px;
  display:block
}
.pgColumn .clmList .footLinkList li .txtList{
  margin:0 22px;
  font-size:17px;
  line-height:1.6;
  text-align:left;
  font-weight:bold span;
  font-weight-font-weight:normal;
  font-weight-color:#808080
}
.pgColumn .clmList .entryList{
  margin:6px 100px 0;
  border-top:1px solid #ec6e99;
  border-bottom:1px solid #ec6e99;
  display:-webkit-flex;
  display:flex;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap
}
.pgColumn .clmList .entryList li{
  border-bottom:1px solid #ec6e99
}
.pgColumn .clmList .entryList li:last-child,.pgColumn .clmList .entryList li:nth-last-child(2){
  border-bottom:none
}
.pgColumn .clmList .entryList li:nth-child(odd){
  width:480px;
  padding:20px 20px 20px 0
}
.pgColumn .clmList .entryList li:nth-child(even){
  width:480px;
  padding:20px 0 20px 20px
}
.pgColumn .clmList .entryList li a{
  display:-webkit-flex;
  display:flex;
  -webkit-align-items:center;
  align-items:center;
  color:#333;
  text-decoration:none
}
.pgColumn .clmList .entryList li.coming{
  display:-webkit-flex;
  display:flex;
  -webkit-align-items:center;
  align-items:center
}
.pgColumn .clmList .entryList li .imgThumb{
  width:142px;
  display:block
}
.pgColumn .clmList .entryList li .txtList{
  width:317px;
  margin-left:22px;
  font-size:17px;
  line-height:1.6;
  text-align:left;
  font-weight:bold
}
.pgColumn .clmList .entryList li .txtList span{
  font-weight:normal;
  color:#808080
}
.pgColumn .clmProf{
  padding-top:60px
}
.pgColumn .clmProf h2 img{
  display:block;
  margin:0 auto
}
.pgColumn .clmProf .profWrap{
  display:-webkit-flex;
  display:flex;
  -webkit-justify-content:center;
  justify-content:center
}
.pgColumn .clmProf .profBox{
  margin:10px 20px;
  width:480px;
  border:1px solid #ec6e99
}
.pgColumn .clmProf .imgProf{
  margin-top:22px
}
.pgColumn .clmProf .txtName{
  font-size:17px;
  margin-top:13px
}
.pgColumn .clmProf .txtProf{
  font-size:15px;
  line-height:1.6;
  padding:5px 18px 20px;
  text-align:justify;
  letter-spacing:-0.05em
}
.pgColumn .clmArticle h2{
  padding:45px 0 45px 120px;
  font-size:30px;
  text-align:left;
  font-weight:bold;
  letter-spacing:-0.01em
}
.pgColumn .clmArticle .artWrap{
  width:1000px;
  margin:50px auto 0;
  font-size:17px;
  line-height:1.6;
  color:#404040;
  text-align:center
}
.pgColumn .clmArticle .artWrap p{
  margin-top:40px;
  text-align:justify
}
.pgColumn .clmArticle .artWrap h3{
  margin-top:40px;
  font-weight:bold;
  font-size:22px;
  text-align:left
}
.pgColumn .clmArticle .artWrap b,.pgColumn .clmArticle .artWrap strong{
  font-weight:bold
}
.pgColumn .clmArticle .artWrap .pinkBox{
  background-color:#fff5f8;
  padding:40px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px
}
.pgColumn .clmArticle .artWrap .pinkBox .movie{
  padding-top:40px
}
.pgColumn .clmArticle .artWrap .pinkBox .movie>iframe{
  margin:0 auto
}
.pgColumn .clmArticle .artWrap .pinkBox .movie_caption{
  color:#999;
  font-size:1.5rem;
  margin-top:10px;
  text-align:center
}
.pgColumn .clmArticle .artWrap .mainBox{
  width:920px;
  margin:0 auto
}
.pgColumn .clmArticle .artWrap hr{
  margin-top:40px;
  height:1px;
  color:#fe9cbf;
  border:none;
  border-top:1px solid #fe9cbf
}
.pgColumn .clmArticle .artWrap .artImg{
  margin:30px 0
}
.pgColumn .clmArticle .artWrap .mtNone{
  margin-top:0
}
.pgColumn .clmArticle .shareLink{
  margin:40px 0 0 585px
}
.pgColumn .clmArticle .shareLink li{
  width:116px;
  height:58px;
  margin:0 15px;
  text-align:center;
  display:-webkit-inline-flex;
  display:inline-flex;
  -webkit-align-items:center;
  align-items:center;
  -webkit-justify-content:center;
  justify-content:center
}
.pgColumn .clmArticle .shareLink li img{
  width:100%
}
#fortune_container{
  width:670px;
  margin:0 auto;
  padding:30px 265px;
  background:url(/static/sp/img/shindan/fortune/bg.png) repeat 0 0;
  -moz-background-size:50% auto;
  -o-background-size:50% auto;
  -webkit-background-size:50% auto;
  background-size:50% auto
}
#fortune_container .readcopy{
  margin:0 auto;
  padding:40px 0 60px;
  text-align:center;
  display:block
}
#fortune_container .readcopy img{
  margin:0 auto;
  padding:0;
  display:block;
  height:198px
}
#fortune_container form.shindanBox{
  margin:0 20px;
  padding:0 0 50px;
  diaplay:block
}
#fortune_container form.shindanBox .innerBox{
  margin:0;
  padding:40px 30px 10px;
  background:#FFF;
  border:solid #f21d90;
  border-width:4px 4px 0;
  display:block
}
#fortune_container form.shindanBox .innerBox h2{
  margin:0 0 40px;
  padding:0;
  display:block
}
#fortune_container form.shindanBox .innerBox h2 img{
  margin:0 auto;
  padding:0;
  display:block;
  width:100%
}
#fortune_container form.shindanBox .innerBox .submitBtn{
  overflow:hidden
}
#fortune_container form.shindanBox .innerBox .submitBtn input[type="submit"]{
  border:0;
  padding:19% 0 0;
  width:100%;
  height:0;
  background:url(/static/sp/img/shindan/fortune/btn_submit.png) no-repeat 0 0;
  -moz-background-size:100% auto;
  -o-background-size:100% auto;
  -webkit-background-size:100% auto;
  background-size:100% auto;
  overflow:hidden
}
#fortune_container form.shindanBox .innerBox dl{
  margin:0;
  padding:0;
  display:block
}
#fortune_container form.shindanBox .innerBox dl dt{
  margin:0;
  padding:0;
  text-align:left;
  display:block
}
#fortune_container form.shindanBox .innerBox dl dt img{
  margin:0;
  padding:0;
  display:block;
  height:32px
}
#fortune_container form.shindanBox .innerBox dl dd{
  margin:0;
  padding:10px 0 40px;
  display:block
}
#fortune_container form.shindanBox .innerBox dl dd input[type="date"],#fortune_container form.shindanBox .innerBox dl dd input[type="text"]{
  cursor:pointer;
  position:relative;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  display:block;
  color:#21a0d6;
  border:5px solid #f21d90;
  border-radius:0;
  background:transparent;
  font-size:24px
}
#fortune_container form.shindanBox .innerBox dl dd input[type="date"].name,#fortune_container form.shindanBox .innerBox dl dd input[type="text"].name{
  padding:10px 5px;
  margin:0;
  width:96%;
  text-align:left
}
#fortune_container form.shindanBox .innerBox dl dd .for-sp{
  margin:0;
  padding:0;
  height:0;
  display:none
}
#fortune_container form.shindanBox .innerBox dl dd .for-sp input[type="date"]{
  padding:10px 5px;
  margin:0;
  width:96%;
  text-align:left
}
#fortune_container form.shindanBox .innerBox dl dd .for-pc{
  margin:0;
  padding:0;
  width:100%;
  display:table
}
#fortune_container form.shindanBox .innerBox dl dd .for-pc label{
  width:33%;
  padding:0;
  display:table-cell;
  float:left
}
#fortune_container form.shindanBox .innerBox dl dd .for-pc label input[type="text"].date{
  padding:10px 0;
  margin:0 5%;
  width:65%;
  text-align:center
}
#fortune_container form.shindanBox .innerBox dl dd .for-pc label.year{
  background:url(/static/sp/img/shindan/fortune/txt_year.png) no-repeat 100% 50%;
  -moz-background-size:auto 28px;
  -o-background-size:auto 28px;
  -webkit-background-size:auto 28px;
  background-size:auto 28px
}
#fortune_container form.shindanBox .innerBox dl dd .for-pc label.month{
  background:url(/static/sp/img/shindan/fortune/txt_month.png) no-repeat 100% 50%;
  -moz-background-size:auto 28px;
  -o-background-size:auto 28px;
  -webkit-background-size:auto 28px;
  background-size:auto 28px
}
#fortune_container form.shindanBox .innerBox dl dd .for-pc label.day{
  background:url(/static/sp/img/shindan/fortune/txt_day.png) no-repeat 100% 50%;
  -moz-background-size:auto 28px;
  -o-background-size:auto 28px;
  -webkit-background-size:auto 28px;
  background-size:auto 28px
}
#fortune_container form.shindanBox .shindanBtm{
  margin:0;
  padding:0 0 10%;
  background:url(/static/sp/img/shindan/fortune/img_orime.png) no-repeat 0 0;
  -moz-background-size:100% auto;
  -o-background-size:100% auto;
  -webkit-background-size:100% auto;
  background-size:100% auto
}
#fortune_result_container{
  width:634px;
  margin:0 auto;
  padding:30px 283px 60px;
  margin:0 auto;
  background:url(/static/sp/img/shindan/fortune/bg.png) repeat 0 0;
  -moz-background-size:50% auto;
  -o-background-size:50% auto;
  -webkit-background-size:50% auto;
  background-size:50% auto
}
#fortune_result_container .resultBox{
  margin:0 auto;
  padding:70px 0 0;
  background:#FFF url(/static/sp/img/shindan/fortune/bg_result.png) no-repeat 0 0;
  -moz-background-size:100% auto;
  -o-background-size:100% auto;
  -webkit-background-size:100% auto;
  background-size:100% auto
}
#fortune_result_container .resultBox .name{
  margin:0 auto;
  padding:0 0 20px;
  text-align:center;
  color:#f21d90;
  font-size:25px
}
#fortune_result_container .resultBox .name strong{
  font-size:33px;
  font-weight:bold
}
#fortune_result_container .resultBox .headcopyBox{
  margin:0 auto;
  padding:100px 0 0;
  background:url(/static/sp/img/shindan/fortune/munekyun.png) no-repeat 50% 0;
  -moz-background-size:250px auto;
  -o-background-size:250px auto;
  -webkit-background-size:250px auto;
  background-size:250px auto
}
#fortune_result_container .resultBox .headcopyBox h2{
  margin:0 auto;
  padding:15px 0;
  text-align:center;
  display:block
}
#fortune_result_container .resultBox .headcopyBox h2 img{
  height:39px
}
#fortune_result_container .resultBox .headcopyBox .detail{
  margin:0 auto;
  padding:0 30px;
  text-align:center;
  display:block;
  position:relative
}
#fortune_result_container .resultBox .headcopyBox .detail h3{
  margin:0 auto;
  padding:45px 0;
  display:block;
  border:solid #f21d90;
  border-width:2px 0
}
#fortune_result_container .resultBox .headcopyBox .detail h3 img{
  height:125px
}
#fortune_result_container .resultBox .headcopyBox .detail p{
  margin:0 auto;
  padding:40px 0;
  font-size:28px;
  line-height:1.5em;
  text-align:center;
  color:#f21d90
}
#fortune_result_container .resultBox .headcopyBox .detail .pics{
  margin:0 auto;
  padding:0 0 60px;
  display:block
}
#fortune_result_container .resultBox .headcopyBox .detail .pics img{
  width:100%
}
#fortune_result_container .resultBox .headcopyBox .detail ul.shareBtn{
  margin:0 auto;
  padding:0;
  display:table
}
#fortune_result_container .resultBox .headcopyBox .detail ul.shareBtn li{
  padding:0 10px;
  display:table-cell
}
#fortune_result_container .resultBox .headcopyBox .detail ul.shareBtn li a{
  display:block
}
#fortune_result_container .resultBox .headcopyBox .detail ul.shareBtn li a img{
  margin:0;
  padding:0;
  display:block;
  width:156px
}
#fortune_result_container .resultBox .resultBtm{
  margin:0;padding:0 0 58px;
  background:url(/static/sp/img/shindan/fortune/bg_resultBtm.png) no-repeat 0 100%;
  -moz-background-size:auto 58px;
  -o-background-size:auto 58px;
  -webkit-background-size:auto 58px;
  background-size:auto 58px
}
